.esas{
	background: yellow;
	height: 300px;
	width: 200px;
	display: inline-block;

}
.bir{
	background: blue;
	height:100px;
	width: 80px;
	margin:10px;
	float: left;
}
.iki{
	
	background: green;
	height: 100px;
	width: 80px;
	margin:10px;
	float:left;
	
	
}
.esas:hover .bir, .esas:hover .iki{
	background: white;
}
.bir:hover + .iki{
	background: brown;

}
